<div>
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9"> 
                    <div class="text-center my-5">
                        <i class="bi bi-hospital-fill"></i>
                    </div>                   
                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
                            <form method="POST" class="needs-validation">
                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="email">Email</label>
                                    <input id="email" type="email" class="form-control" [(ngModel)]="user.userName"
                                        name="email" #username="ngModel" required
                                        [class.is-invalid]="username.invalid && username.touched">
                                    <div class="invalid-feedback" [class.d-none]="username.valid || username.untouched">
                                        Email is required
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="password">Password</label>
                                    <input id="password" type="password" class="form-control"
                                        [(ngModel)]="user.password" name="password" #password="ngModel" required
                                        [class.is-invalid]="password.invalid && password.touched">
                                    <div class="invalid-feedback" [class.d-none]="password.valid || password.untouched">
                                        Password is required
                                    </div>
                                </div>

                                <div class="align-items-center d-flex">
                                    <button type="submit" class="btn btn-primary" (click)="login()">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer py-3 border-0">
                            <div class="text-center">
                                Don't have an account? <a class="text-dark" (click)="signUp()">Signup here</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>